/docs/assets
/docs/*.aux
/docs/*.fdb_latexmk
/docs/*.fls
/docs/*.log
/docs/*.synctex.gz
/docs/*.pdf

/app/.gradle
/app/.idea
/app/gradle
/app/app/build
/app/app/src/main/res
/app/app/src/androidTest
app/app/google-services.json
